* {
    font-size: 40px;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: calculator-font1;
    src: url(../../fonts/digital-7.woff2);
}

@font-face {
    font-family: calculator-font2;
    src: url(../../fonts/digital-7.eot);
}

@font-face {
    font-family: calculator-font3;
    src: url(../../fonts/digital-7.svg);
}

@font-face {
    font-family: calculator-font4;
    src: url(../../fonts/digital-7.ttf);
}

@font-face {
    font-family: calculator-font5;
    src: url(../../fonts/digital-7.woff);
}

.heading {
    font-family: calculator-font1, calculator-font2,
    calculator-font3, calculator-font4, calculator-font5, sans-serif;
    font-size: 72px;
    text-shadow: white 2px 2px;
    text-align: center;
    padding: 0;
}

.small-heading {
    position: relative;
    top: -50px;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

#calc-container {
    background-color: #fae9cf;
}

#screen {
    border: solid 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 25px 5px;
    border-bottom: solid 2px;
    text-align: right;
    background-color: #fff;
    color: #000
    font-size: 40px;
    font-family: calculator-font1, calculator-font2,
    calculator-font3, calculator-font4, calculator-font5, sans-serif;
}


#calculator {
    position: relative;
    top: -35px;
    width: 40%;
    border: groove 5px;
    margin: auto;
    background-color: #000;
    border-radius: 20px;
}

.calc-button {
    float: left;
    width: 25%;
    font-size: 40px;
    background-color:  #edf1e6; /* Grey */
    border: solid 1px #000;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 25px;
}

.operator {
    background-color: #f38c22;
    color: #fff;
    border-color: #000;
}

.top-row {
    background-color: #d8dcd1;
    color: #000;
    border-color: #000;
}


#button-zero {
    width: 50%;
    border-bottom-left-radius: 20px;
}

#button-equals {
    border-bottom-right-radius: 20px;
}
.row{
    overflow: hidden;  /* "overflow: auto;" works just as well instead */
    width:100%;        /* Helps older versions of IE */
}
